<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block content %}
<div class="uk-container uk-margin-top">
    <h2 class="uk-heading-line uk-text-center"><span>Set New Password</span></h2>

    <form method="post" class="uk-form-stacked uk-width-1-2@m uk-align-center">
        {% csrf_token %}
        <div class="uk-margin">
            <label class="uk-form-label" for="new_password">New Password</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="new_password" name="new_password" type="password" placeholder="Enter new password" required>
            </div>
        </div>
        <div class="uk-text-center">
            <button type="submit" class="uk-button uk-button-primary">Reset Password</button>
        </div>
    </form>
</div>
{% endblock %}
