{% extends 'base.html' %}

{% block content %}
<div class="uk-container uk-margin-top">
    <h2 class="uk-heading-line uk-text-center"><span>Password Reset</span></h2>
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-align-center uk-box-shadow-medium custom-white-box" style="text-align: center;">
        <form method="post" class="uk-form-stacked">
            {% csrf_token %}
            <div class="uk-margin">
                <label class="uk-text-center uk-text-muted">Enter your email address to receive a password reset link.</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded" id="email" name="email" type="email" placeholder="Enter your email" required>
                </div>
            </div>
            <div class="uk-text-center">
                <button type="submit" class="uk-button uk-button-primary uk-border-rounded">Send Password Reset Link</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
