{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="uk-container uk-margin-large-top uk-margin-large-bottom uk-width-1-2@m uk-width-2-3@l uk-width-1-2@xl uk-animation-slide-bottom-medium">
    <div class="uk-card uk-card-default uk-card-body uk-box-shadow-medium uk-border-rounded">
        <h1 class="uk-heading-medium uk-text-center uk-margin-remove-bottom">Reset Password</h1>
        <p class="uk-text-center uk-text-lead uk-margin-remove-top" style="color: red;">This will fully remove a users password and create a new one. </p>

        <form action="{% url 'reset_user_password' user_id=user_id %}" method="POST" class="uk-form-stacked uk-margin-top">
            {% csrf_token %}

            <div class="uk-margin">
                <label for="new_password" class="uk-form-label uk-text-bold">New Password</label>
                <div class="uk-form-controls">
                    <input type="password" id="new_password" name="new_password" class="uk-input uk-form-large uk-border-rounded" placeholder="Enter new password">
                </div>
            </div>

            <div class="uk-margin uk-text-center">
                <button type="submit" class="uk-button uk-button-primary uk-button-large uk-border-rounded uk-width-1-1">Reset Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
