{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Sessions{% endblock %}

{% block content %}
<div class="uk-container uk-margin-large-top">
    <h1 class="uk-heading-medium uk-text-center">Active Sessions</h1>

    {% if sessions %}
    <div class="uk-grid uk-grid-match uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-3@l" uk-grid>
        {% for session in sessions %}
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">{{ session.DeviceName }}</h3>
                <p><strong>Client:</strong> {{ session.Client }}</p>
                <p><strong>User:</strong> {{ session.UserName }}</p>
                <p><strong>Device Type:</strong> {{ session.DeviceType }}</p>
                <p><strong>Last Activity:</strong> {{ session.LastActivityDate|iso_to_local }}</p>
                <p><strong>Playback Check-In:</strong> {{ session.LastPlaybackCheckIn|iso_to_local }}</p>
                <p><strong>Paused Date:</strong> {{ session.LastPausedDate|iso_to_local }}</p>
                <p><strong>Is Active:</strong> {% if session.IsActive %}<span class="uk-label uk-label-success">Yes</span>{% else %}<span class="uk-label uk-label-danger">No</span>{% endif %}</p>
                <p><strong>Supports Media Control:</strong> {% if session.SupportsMediaControl %}<span class="uk-label uk-label-success">Yes</span>{% else %}<span class="uk-label uk-label-danger">No</span>{% endif %}</p>
                <p><strong>Supports Remote Control:</strong> {% if session.SupportsRemoteControl %}<span class="uk-label uk-label-success">Yes</span>{% else %}<span class="uk-label uk-label-danger">No</span>{% endif %}</p>
                <p><strong>Custom Device Name:</strong> {% if session.HasCustomDeviceName %}<span class="uk-label uk-label-success">Yes</span>{% else %}<span class="uk-label uk-label-danger">No</span>{% endif %}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="uk-text-center">No active sessions found.</p>
    {% endif %}
</div>
{% endblock %}
