{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Users{% endblock %}

{% block content %}
<div class="uk-container uk-margin-large-top">
    <!-- Page Header -->
    <h1 class="uk-heading-line uk-text-center" style="width: 100%; padding-bottom: 20px;">
        <span>User Management</span>
    </h1>

    <!-- Subheading and Create User Button -->
    <div class="uk-flex uk-flex-between uk-flex-middle uk-margin-bottom">
        <p class="uk-text-lead uk-text-muted">Manage the user accounts for your Jellyfin Server.</p>
        <a href="#create-user-modal" uk-toggle class="uk-button uk-button-primary uk-button-large uk-border-rounded">
            <span uk-icon="icon: plus-circle" style="margin-right: 10px;"></span> Create User
        </a>
    </div>

    <!-- Alert for Error Messages -->
    {% if error_message %}
    <div class="uk-alert-danger uk-margin-bottom" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        {{ error_message }}
    </div>
    {% else %}
    <!-- User Table -->
    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider uk-table-hover uk-table-middle uk-table-small uk-table-responsive">
            <thead>
                <tr>
                    <th class="uk-width-small">Username</th>
                    <th class="uk-width-medium">Last Login</th>
                    <th class="uk-width-small">Admin</th>
                    <th class="uk-width-small">Disabled</th>
                    <th class="uk-width-small">Actions</th>
                    <th class="uk-width-small"></th> <!-- New column for action buttons -->
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.Name }}</td>
                    <td>{{ user.LastLoginDate|iso_to_local }}</td>
                    <td>
                        {% if user.Policy.IsAdministrator %}
                        <span class="uk-label uk-label-success">Yes</span>
                        {% else %}
                        <span class="uk-label uk-label-danger">No</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.Policy.IsDisabled %}
                        <span class="uk-label uk-label-danger">Yes</span>
                        {% else %}
                        <span class="uk-label uk-label-success">No</span>
                        {% endif %}
                    </td>
                    <td>
                        <!-- Action Buttons Group -->
                        <div class="uk-button-group">
                            <!-- Edit Button -->
                            <a href="{% url 'update_user' user_id=user.Id %}" class="uk-button uk-button-default uk-button-small uk-border-rounded edit-button" style="margin-right: 30px;">
                                <span uk-icon="icon: pencil"></span> Edit
                            </a>
                            
                            <!-- Delete Button -->
                            <form action="{% url 'delete_user' user_id=user.Id %}" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this user?');">
                                {% csrf_token %}
                                <button type="submit" class="uk-button uk-button-danger uk-button-small uk-border-rounded">
                                    <span uk-icon="icon: trash"></span> Delete
                                </button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <a href="{% url 'reset_user_password' user_id=user.Id %}" class="uk-button uk-button-secondary uk-button-small uk-border-rounded reset-button">
                            <span uk-icon="icon: unlock"></span> Reset Password
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

<!-- Modal for Create User -->
<div id="create-user-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-border-rounded">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title uk-text-center">Create New User</h2>

        <!-- User Creation Form -->
        <form method="post" action="{% url 'create_user' %}" class="uk-form-stacked uk-padding-small uk-background-default">
            {% csrf_token %}
            
            <!-- Name Field -->
            <div class="uk-margin">
                <label class="uk-form-label" for="name">Name:</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="name" name="name" type="text" required placeholder="Enter user's name">
                </div>
            </div>

            <!-- Password Field -->
            <div class="uk-margin">
                <label class="uk-form-label" for="password">Password:</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="password" name="password" type="password" required placeholder="Enter user's password">
                </div>
            </div>

            <!-- Email Field -->
            <div class="uk-margin">
                <label class="uk-form-label" for="email">Email:</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="email" name="email" type="email" placeholder="Enter user's email">
                </div>
            </div>

            <!-- Submit Button -->
            <div class="uk-margin">
                <button class="uk-button uk-button-primary uk-width-1-1" type="submit">Create User</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
